$mainBackgroundColor: #f2efe9;
$navbarBorderBottomColor: #592d1d1a;
$navBarIconSize: 0.9167em;
$navBarIconSizeFullWidth: 1em;
$widthHeightLogo: 50px;
$paddingTopBottom: calc(2.771em - $navBarIconSize / 2);
$paddingTopBottomFullWidth: calc(1.81em - $widthHeightLogo / 2);
$minMediaQueryWidth: 768px;
$menuHoverColor: #ff9a16;
$menuFontColor: #0f2614;