@import "../../../variables/variables.scss";

.navbar {
    &_logo {
        width: $widthHeightLogo;
        height: $widthHeightLogo;
        background-image: url("../../../assets/navbarAssets/logo.png");
    }
}