@import "./reset.scss";
@import "../component/organism/navbar/_navbar.scss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.css-y7mn13-MuiInputBase-root-MuiOutlinedInput-root {
    height: 30px;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 20px !important;
    padding: 5px 14px !important;

}

.css-1lg9d17-MuiFormLabel-root-MuiInputLabel-root {
    top: -5px !important;
}

.css-46bh2p-MuiCardContent-root {
    width: 100vw;
    padding-left: 0 !important;
    padding-right: 0 !important;
}